#skillsWrapper h1 {

    animation: app 500ms;

    @media screen and (max-width: 700px) {
        font-size: 2.5rem;
    }

}

#skills {
    animation: app2 500ms;

    @media screen and (max-width: 800px) {
        min-width: 22rem;
    }

    @media screen and (min-width: 820px) and (max-width: 1025px) {
        height: 70%;
        width: 60%;
    }
}

.skill {
    @media screen and (min-width: 992px) {
        width: 6rem;
        height: 8rem;
    }

    @media screen and (min-width: 1400px) {
        width: 7rem;
        height: 9rem;
    }

    @media screen and (min-width: 1600px) {
        width: 8rem;
        height: 10rem;
    }

    @media screen and (max-width: 992px) {
        width: 5rem;
        height: 7rem;
        margin: .25rem;
    }

    @media screen and (max-width: 800px) {
        width: 4.5rem;
        height: 6.5rem;
    }

    @media screen and (min-width: 821px) and (max-width: 1025px) {
        width: 6.5rem;
        height: 8.5rem;
    }
}

.skill:hover {
    background-color: #276ace;
}

.skill label {
    @media screen and (max-width: 600px) {
        font-size: 0.8rem;
    }
}

@keyframes app {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes app2 {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    25% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}